@import '../base/mixins';

.btn {
    background-color: $silver;
    color: $light;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    padding: 0.2rem 0.6rem;

    &:hover {
        opacity: 0.8;
    }

    @include backgroundColor();

    &-border {
        background-color: transparent;
        border: 0.1rem solid $dark;
        border-radius: 0.2rem;
        padding: 0.2rem 0.6rem;

        &-pink {
            border-color: $pink;
    
            &-light {
                border-color: $pink-light;
            }
    
            &-lighter {
                border-color: $pink-lighter;
            }
    
            &-dark {
                border-color: $pink-dark;
            }
    
            &-darker {
                border-color: $pink-darker;
            }
        }
        &-red {
            border-color: $red;
    
            &-light {
                border-color: $red-light;
            }
    
            &-lighter {
                border-color: $red-lighter;
            }
    
            &-dark {
                border-color: $red-dark;
            }
    
            &-darker {
                border-color: $red-darker;
            }
        }
        &-orange {
            border-color: $orange;
    
            &-light {
                border-color: $orange-light;
            }
    
            &-lighter {
                border-color: $orange-lighter;
            }
    
            &-dark {
                border-color: $orange-dark;
            }
    
            &-darker {
                border-color: $orange-darker;
            }
        }
        &-yellow {
            border-color: $yellow;
    
            &-light {
                border-color: $yellow-light;
            }
    
            &-lighter {
                border-color: $yellow-lighter;
            }
    
            &-dark {
                border-color: $yellow-dark;
            }
    
            &-darker {
                border-color: $yellow-darker;
            }
        }
        &-green {
            border-color: $green;
    
            &-light {
                border-color: $green-light;
            }
    
            &-lighter {
                border-color: $green-lighter;
            }
    
            &-dark {
                border-color: $green-dark;
            }
    
            &-darker {
                border-color: $green-darker;
            }
        }
        &-aqua {
            border-color: $aqua;
    
            &-light {
                border-color: $aqua-light;
            }
    
            &-lighter {
                border-color: $aqua-lighter;
            }
    
            &-dark {
                border-color: $aqua-dark;
            }
    
            &-darker {
                border-color: $aqua-darker;
            }
        }
        &-sky {
            border-color: $sky;
    
            &-light {
                border-color: $silver-light;
            }
    
            &-lighter {
                border-color: $silver-lighter;
            }
    
            &-dark {
                border-color: $silver-dark;
            }
    
            &-darker {
                border-color: $silver-darker;
            }
        }
        &-blue {
            border-color: $blue;
    
            &-light {
                border-color: $blue-light;
            }
    
            &-lighter {
                border-color: $blue-lighter;
            }
    
            &-dark {
                border-color: $blue-dark;
            }
    
            &-darker {
                border-color: $blue-darker;
            }
        }
        &-violet {
            border-color: $violet;
    
            &-light {
                border-color: $violet-light;
            }
    
            &-lighter {
                border-color: $violet-lighter;
            }
    
            &-dark {
                border-color: $violet-dark;
            }
    
            &-darker {
                border-color: $violet-darker;
            }
        }
        &-silver {
            border-color: $silver;
    
            &-light {
                border-color: $silver-light;
            }
    
            &-lighter {
                border-color: $silver-lighter;
            }
    
            &-dark {
                border-color: $silver-dark;
            }
    
            &-darker {
                border-color: $silver-darker;
            }
        }
        &-iron {
            border-color: $iron;
    
            &-light {
                border-color: $iron-light;
            }
    
            &-lighter {
                border-color: $iron-lighter;
            }
    
            &-dark {
                border-color: $iron-dark;
            }
    
            &-darker {
                border-color: $iron-darker;
            }
        }
        
        &-dark {
            border-color: $dark;
        }
        &-light {
            border-color: $light;
        }
        &-transparent {
            border-color: $transparent;
        }
    }
}