@mixin borderColor() {
    &-pink {
        border-color: $pink;

        &-light {
            border-color: $pink-light;
        }

        &-lighter {
            border-color: $pink-lighter;
        }

        &-dark {
            border-color: $pink-dark;
        }

        &-darker {
            border-color: $pink-darker;
        }
    }
    &-red {
        border-color: $red;

        &-light {
            border-color: $red-light;
        }

        &-lighter {
            border-color: $red-lighter;
        }

        &-dark {
            border-color: $red-dark;
        }

        &-darker {
            border-color: $red-darker;
        }
    }
    &-orange {
        border-color: $orange;

        &-light {
            border-color: $orange-light;
        }

        &-lighter {
            border-color: $orange-lighter;
        }

        &-dark {
            border-color: $orange-dark;
        }

        &-darker {
            border-color: $orange-darker;
        }
    }
    &-yellow {
        border-color: $yellow;

        &-light {
            border-color: $yellow-light;
        }

        &-lighter {
            border-color: $yellow-lighter;
        }

        &-dark {
            border-color: $yellow-dark;
        }

        &-darker {
            border-color: $yellow-darker;
        }
    }
    &-green {
        border-color: $green;

        &-light {
            border-color: $green-light;
        }

        &-lighter {
            border-color: $green-lighter;
        }

        &-dark {
            border-color: $green-dark;
        }

        &-darker {
            border-color: $green-darker;
        }
    }
    &-aqua {
        border-color: $aqua;

        &-light {
            border-color: $aqua-light;
        }

        &-lighter {
            border-color: $aqua-lighter;
        }

        &-dark {
            border-color: $aqua-dark;
        }

        &-darker {
            border-color: $aqua-darker;
        }
    }
    &-sky {
        border-color: $sky;

        &-light {
            border-color: $silver-light;
        }

        &-lighter {
            border-color: $silver-lighter;
        }

        &-dark {
            border-color: $silver-dark;
        }

        &-darker {
            border-color: $silver-darker;
        }
    }
    &-blue {
        border-color: $blue;

        &-light {
            border-color: $blue-light;
        }

        &-lighter {
            border-color: $blue-lighter;
        }

        &-dark {
            border-color: $blue-dark;
        }

        &-darker {
            border-color: $blue-darker;
        }
    }
    &-violet {
        border-color: $violet;

        &-light {
            border-color: $violet-light;
        }

        &-lighter {
            border-color: $violet-lighter;
        }

        &-dark {
            border-color: $violet-dark;
        }

        &-darker {
            border-color: $violet-darker;
        }
    }
    &-silver {
        border-color: $silver;

        &-light {
            border-color: $silver-light;
        }

        &-lighter {
            border-color: $silver-lighter;
        }

        &-dark {
            border-color: $silver-dark;
        }

        &-darker {
            border-color: $silver-darker;
        }
    }
    &-iron {
        border-color: $iron;

        &-light {
            border-color: $iron-light;
        }

        &-lighter {
            border-color: $iron-lighter;
        }

        &-dark {
            border-color: $iron-dark;
        }

        &-darker {
            border-color: $iron-darker;
        }
    }
    
    &-dark {
        border-color: $dark;
    }
    &-light {
        border-color: $light;
    }
    &-transparent {
        border-color: $transparent;
    }
}

@mixin backgroundColor() {
    
    &-pink {
        background-color: $pink;
    
        &-light {
            background-color: $pink-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $pink-lighter;
        }
    
        &-dark {
            background-color: $pink-dark;
        }
    
        &-darker {
            background-color: $pink-darker;
        }
    }
    &-red {
        background-color: $red;
    
        &-light {
            background-color: $red-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $red-lighter;
        }
    
        &-dark {
            background-color: $red-dark;
        }
    
        &-darker {
            background-color: $red-darker;
        }
    }
    &-orange {
        background-color: $orange;
    
        &-light {
            background-color: $orange-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $orange-lighter;
        }
    
        &-dark {
            background-color: $orange-dark;
        }
    
        &-darker {
            background-color: $orange-darker;
        }
    }
    &-yellow {
        background-color: $yellow;
    
        &-light {
            background-color: $yellow-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $yellow-lighter;
        }
    
        &-dark {
            background-color: $yellow-dark;
        }
    
        &-darker {
            background-color: $yellow-darker;
        }
    }
    &-green {
        background-color: $green;
    
        &-light {
            background-color: $green-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $green-lighter;
        }
    
        &-dark {
            background-color: $green-dark;
        }
    
        &-darker {
            background-color: $green-darker;
        }
    }
    &-aqua {
        background-color: $aqua;
    
        &-light {
            background-color: $aqua-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $aqua-lighter;
        }
    
        &-dark {
            background-color: $aqua-dark;
        }
    
        &-darker {
            background-color: $aqua-darker;
        }
    }
    &-sky {
        background-color: $sky;
    
        &-light {
            background-color: $sky-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $sky-lighter;
        }
    
        &-dark {
            background-color: $sky-dark;
        }
    
        &-darker {
            background-color: $sky-darker;
        }
    }
    &-blue {
        background-color: $blue;
    
        &-light {
            background-color: $blue-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $blue-lighter;
        }
    
        &-dark {
            background-color: $blue-dark;
        }
    
        &-darker {
            background-color: $blue-darker;
        }
    }
    &-violet {
        background-color: $violet;
    
        &-light {
            background-color: $violet-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $violet-lighter;
        }
    
        &-dark {
            background-color: $violet-dark;
        }
    
        &-darker {
            background-color: $violet-darker;
        }
    }
    &-silver {
        background-color: $silver;
    
        &-light {
            background-color: $silver-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $silver-lighter;
        }
    
        &-dark {
            background-color: $silver-dark;
        }
    
        &-darker {
            background-color: $silver-darker;
        }
    }
    &-iron {
        background-color: $iron;
    
        &-light {
            background-color: $iron-light;
            color: $dark;
        }
    
        &-lighter {
            background-color: $iron-lighter;
        }
    
        &-dark {
            background-color: $iron-dark;
        }
    
        &-darker {
            background-color: $iron-darker;
        }
    }
    
    &-dark {
        background-color: $dark;
        color: $light;
    }
    
    &-light {
        background-color: $light;
        color: $dark;
    }
    
    &-transparent {
        background-color: $transparent;
        color: $dark;
    }
    
}
@mixin color() {
    
    &-pink {
        color: $pink;

        &-light {
            color: $pink-light;
        }

        &-lighter {
            color: $pink-lighter;
        }

        &-dark {
            color: $pink-dark;
        }

        &-darker {
            color: $pink-darker;
        }
    }
    &-red {
        color: $red;

        &-light {
            color: $red-light;
        }

        &-lighter {
            color: $red-lighter;
        }

        &-dark {
            color: $red-dark;
        }

        &-darker {
            color: $red-darker;
        }
    }
    &-orange {
        color: $orange;

        &-light {
            color: $orange-light;
        }

        &-lighter {
            color: $orange-lighter;
        }

        &-dark {
            color: $orange-dark;
        }

        &-darker {
            color: $orange-darker;
        }
    }
    &-yellow {
        color: $yellow;

        &-light {
            color: $yellow-light;
        }

        &-lighter {
            color: $yellow-lighter;
        }

        &-dark {
            color: $yellow-dark;
        }

        &-darker {
            color: $yellow-darker;
        }
    }
    &-green {
        color: $green;

        &-light {
            color: $green-light;
        }

        &-lighter {
            color: $green-lighter;
        }

        &-dark {
            color: $green-dark;
        }

        &-darker {
            color: $green-darker;
        }
    }
    &-aqua {
        color: $aqua;

        &-light {
            color: $aqua-light;
        }

        &-lighter {
            color: $aqua-lighter;
        }

        &-dark {
            color: $aqua-dark;
        }

        &-darker {
            color: $aqua-darker;
        }
    }
    &-sky {
        color: $sky;

        &-light {
            color: $silver-light;
        }

        &-lighter {
            color: $silver-lighter;
        }

        &-dark {
            color: $silver-dark;
        }

        &-darker {
            color: $silver-darker;
        }
    }
    &-blue {
        color: $blue;

        &-light {
            color: $blue-light;
        }

        &-lighter {
            color: $blue-lighter;
        }

        &-dark {
            color: $blue-dark;
        }

        &-darker {
            color: $blue-darker;
        }
    }
    &-violet {
        color: $violet;

        &-light {
            color: $violet-light;
        }

        &-lighter {
            color: $violet-lighter;
        }

        &-dark {
            color: $violet-dark;
        }

        &-darker {
            color: $violet-darker;
        }
    }
    &-silver {
        color: $silver;

        &-light {
            color: $silver-light;
        }

        &-lighter {
            color: $silver-lighter;
        }

        &-dark {
            color: $silver-dark;
        }

        &-darker {
            color: $silver-darker;
        }
    }
    &-iron {
        color: $iron;

        &-light {
            color: $iron-light;
        }

        &-lighter {
            color: $iron-lighter;
        }

        &-dark {
            color: $iron-dark;
        }

        &-darker {
            color: $iron-darker;
        }
    }
    
    &-dark {
        color: $dark;
    }
    &-light {
        color: $light;
    }
    &-transparent {
        color: $transparent;
    }
}

@mixin width() {
    &-100 {
        width: 100%;
    }
    &-92 {
        width: 92%;
    }
    &-90 {
        width: 90%;
    }
    &-87 {
        width: 87%;
    }
    &-83 {
        width: 83%;
    }
    &-80 {
        width: 80%;
    }
    &-75 {
        width: 75%;
    }
    &-66 {
        width: 66%;
    }
    &-50 {
        width: 50%;
    }
    &-33 {
        width: 33.3%;
    }
    &-25 {
        width: 25%;
    }
    &-20 {
        width: 20%;
    }
    &-16 {
        width: 16.6%;
    }
    &-12 {
        width: 12.5%;
    }
    &-10 {
        width: 10%;
    }
    &-8 {
        width: 8.2%;
    }
}


