// Colors
$pink: #FC5C97;
$red: #FC5C65;
$orange: #FD9644;
$yellow: #FED330;
$green: #26DE81;
$aqua: #2BCBBA;
$sky: #45AAF2;
$blue: #4B7BEC;
$violet: #A65EEA;
$silver: #D1D8E0;
$tin: #778CA3;
$iron: #48545F;

// dark of colors

$pink-dark: #EB3B8D;
$pink-darker: #B12B6C;

// Red
$red-dark: #EB3B5A;
$red-darker: #B12B45;

// Orange
$orange-dark: #FA8231;
$orange-darker: #C46424;

// Yellow
$yellow-dark: #F7B731;
$yellow-darker: #C59026;

// Greeen
$green-dark: #26BF6B;
$green-darker: #1C914F;

// Aqua
$aqua-dark: #10B9B1;
$aqua-darker: #0B938B;

// Sky
$sky-dark: #2D98DA;
$sky-darker: #226FA4;

// Blue
$blue-dark: #3867D6;
$blue-darker: #2A4F9F;

// Violet
$violet-dark: #8854D0;
$violet-darker: #673F9E;

// Silver
$silver-dark: #A5B1C2;
$silver-darker: #7A8493;

// Tin
$tin-dark: #4B6584;
$tin-darker: #354B62;

// Iron
$iron-dark: #31393F;
$iron-darker: #21272B;

// light of Colors

// light shades
$pink-light: #FF85AF;
$pink-lighter: #FFD1E0;

// Red
$red-light: #FF867E;
$red-lighter: #FFB8B8;

// Orange
$orange-light: #FFB067;
$orange-lighter: #FFD8B2;

// Yellow
$yellow-light: #FFE066;
$yellow-lighter: #FFEB99;

// Greeen
$green-light: #5FEFA6;
$green-lighter: #87EB98;

// Aqua
$aqua-light: #5DE2D1;
$aqua-lighter: #8CEDE6;

// Sky
$sky-light: #74C4F5;
$sky-lighter: #A7D9F9;

// Blue
$blue-light: #7699F0;
$blue-lighter: #98BDF4;

// Violet
$violet-light: #C387F3;
$violet-lighter: #DAB8F5;

// Silver
$silver-light: #E4E7EC;
$silver-lighter: #EEF0F4;

// Tin
$tin-light: #9BA9BE;
$tin-lighter: #BFC9D6;

// Iron
$iron-light: #6B7A87;
$iron-lighter: #99A0A8;


// non-colors
$dark: #171B1D;
$light: #FFFFFF;

$transparent: transparent;

// sizes 
$xxl: 5rem;
$xl: 4rem;
$lg: 3rem;
$md: 2rem;
$sm: 1.5rem;
$xs: 1rem;
