// Colors
$pink: #FF2D55;
$red: #FF3B30;
$orange: #FF9500;
$yellow: #FFCC00;
$green: #4CD964;
$aqua: #5AC8FA;
$sky: #34AADC;
$blue: #007AFF;
$violet: #5856D6;

// non-colors
$dark: #222224;
$gray: #8E8E93;
$light: #F3F3FC;

// metal colors
$lead: #29292C;
$steel: #444449;
$iron: #6E6E74;
$titanium: #8E8E93;
$silver: #C2C2C9;
$platinum: #E5E5ED;

$transparent: transparent;

// sizes 
$xxl: 5rem;
$xl: 4rem;
$lg: 3rem;
$md: 2rem;
$sm: 1.5rem;
$xs: 1rem;
