// Colors
$pink: #F53B57;
$red: #FF3F34;
$orange: #FFA500;
$yellow: #FFD32A;
$green: #04C56B;
$aqua: #00D8D6;
$sky: #10BCF9;
$blue: #3D40C6;
$violet: #6629BA;
$silver: #818E9B;
$iron: #182027;

// dark of colors

$pink-dark: #E12441;
$pink-darker: #C7112C;

// Red
$red-dark: #F32B1F;
$red-darker: #D92015;

// Orange
$orange-dark: #E69706;
$orange-darker: #CA8507;

// Yellow
$yellow-dark: #E6BB15;
$yellow-darker: #D3AB12;

// Greeen
$green-dark: #03AC5D;
$green-darker: #049752;

// Aqua
$aqua-dark: #06C3C2;
$aqua-darker: #03ACAA;

// Sky
$sky-dark: #06A4DD;
$sky-darker: #0495C9;

// Blue
$blue-dark: #2F31AF;
$blue-darker: #222497;

// Violet
$violet-dark: #521F98;
$violet-darker: #471A85;

// Silver
$silver-dark: #616C77;
$silver-darker: #4D5761;

// Iron
$iron-dark: #11171C;
$iron-darker: #0B0F12;

// light of Colors

// light shades
$pink-light: #EF5777;
$pink-lighter: #F57892;

// Red
$red-light: #FF5E58;
$red-lighter: #FF7D79;

// Orange
$orange-light: #FFC039;
$orange-lighter: #FFCC5F;

// Yellow
$yellow-light: #FFDD59;
$yellow-lighter: #FFE789;

// Greeen
$green-light: #0CE881;
$green-lighter: #40F8A2;

// Aqua
$aqua-light: #35E7E5;
$aqua-lighter: #71EFEE;

// Sky
$sky-light: #48D0FA;
$sky-lighter: #77D9F7;

// Blue
$blue-light: #575FCF;
$blue-lighter: #7279D7;

// Violet
$violet-light: #814EC8;
$violet-lighter: #976BD4;

// Silver
$silver-light: #D2DAE2;
$silver-lighter: #EFF2F5;

// Iron
$iron-light: #48545F;
$iron-lighter: #687076;


// non-colors
$dark: #171B1D;
$light: #FFFFFF;

$transparent: transparent;

// sizes 
$xxl: 5rem;
$xl: 4rem;
$lg: 3rem;
$md: 2rem;
$sm: 1.5rem;
$xs: 1rem;
